* {
    scroll-behavior: smooth;
}

html {
    font-size: 15px;
    overflow-x: hidden;
}

body {
    background: black;
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 0.85em;
    letter-spacing: 1.5px;
    /* height: 700px; */
    overflow-x: hidden;
    left: 0;
}

/* -------------------------------- */

.profile-picture {
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 10%;
}

.profile-picture img {
    width: 100%;
    margin-top: -40px;
}

.links:first-of-type {
    margin-top: 0px;
}

.links {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 40px;
    width: 250px;
}

/* -------------------------------- */

a {
    text-decoration: none;
    color: white;
    transition: color 1s, letter-spacing 0.5s;
}

.mini-logo {
    position: absolute;
    height: 20px;
    filter: invert(100%);
    margin-left: -25px;
    transition: color 1s, margin-left 0.5s;
}

a:hover {
    text-decoration: none;
    color: black;
    background: white;
    font-weight: bold;
    letter-spacing: 0px;
    transition: color 1s, letter-spacing 0.5s;
}

a:hover .mini-logo {
    filter: grayscale();
    transition: color 1s, margin-left 0.5s;
}

/* -------------------------------- */

@media (min-width: 576px) {
    body {
        font-size: 1em;
    }
    .profile-picture {
        width: 6.5rem;
        height: 6.5rem;
    }
    .profile-picture img {
        margin-top: -50px;
    }
    .links {
        width: 300px;
    }
}